---
version: "3.7"
services:
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK_SET=022 #optional
    volumes:
      - "/opt/dockerconfigs/radarr/config:/config"
      - "/opt/dockerconfigs/radarr/downloads:/downloads"
      - "/var/media/adult-movies:/movies"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr`)"
      - "traefik.http.services.radarr.LoadBalancer.server.Port=7878"
      - "traefik.http.routers.radarr.service=radarr"
  traefik:
    image: "traefik:v2.2"
    container_name: "traefik"
    command: # CLI arguments
      - --global.checkNewVersion=true
      - --entryPoints.http.address=:80
      - --entryPoints.traefik.address=:8080
      - --api=true
      - --api.insecure=true
      - --serversTransport.insecureSkipVerify=true
      - --log=true
      - --log.level=DEBUG # (Default: error) DEBUG, INFO, WARN, ERROR, FATAL, PANIC
      - --accessLog=true
      - --accessLog.filePath=/traefik.log
      - --accessLog.bufferingSize=100 # Configuring a buffer of 100 lines
      - --accessLog.filters.statusCodes=400-499
      - --providers.docker=true
      - --providers.docker.endpoint=unix:///var/run/docker.sock
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=t2_proxy
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`monitor.example.com`)"
  sonarr:
    image: "linuxserver/sonarr"
    container_name: "sonarr"
    environment:
       - PGID=1000
       - PUID=1000
       - TZ=America/New_York
       - UMASK_SET=022 #optional
    volumes:
      - "/opt/dockerconfigs/sonarr/config:/config"
      - "/opt/dockerconfigs/sonarr/downloads:/downloads"
      - "/var/media/adult-tv:/tv"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr`)"
      - "traefik.http.services.sonarr.LoadBalancer.server.Port=8989"
      - "traefik.http.routers.sonarr.service=sonarr"
  jackett:
    image: "linuxserver/jackett"
    container_name: "jackett"
    environment:
        - PGID=1000
        - PUID=1000
        - TZ=America/New_York
    volumes:
        - "/var/jackett/config:/config"
        - "/var/jackett/downloads:/downloads"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jackett.rule=Host(`jackett`)"
      - "traefik.http.services.jackett.LoadBalancer.server.Port=9117"
      - "traefik.http.routers.jackett.service=jackett"
    restart: always
  watchtower:
    image: index.docker.io/containrrr/watchtower
    # image: "v2tec/watchtower"
    container_name: "watchtower"
    command: --interval 30 --label-enable --cleanup
    environment:
        - WATCHTOWER_NOTIFICATIONS=slack 
        - WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/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
        - WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=watchtower 
          #        - WATCHTOWER_NOTIFICATION_SLACK_CHANNEL=#watchtower
          #      - WATCHTOWER_NOTIFICATION_SLACK_ICON_EMOJI=":whale": 
        - PGID=1000
        - PUID=1000
        - TZ=America/New_York
    volumes:
        - "/var/run/docker.sock:/var/run/docker.sock"
        - "/home/davidfic/.docker/config.json:/config.json"
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.watchtower.rule=Host(`watchtower`)"
      - "traefik.http.routers.watchtower.service=watchtower"
  bazarr:
    image: linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK_SET=022 #optional
    volumes:
      - "/opt/dockerconfigs/bazarr/config:/config"
      - "/var/media/adult-movies:/movies"
      - "/var/media/adult-tv:/tv"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr`)"
      - "traefik.http.routers.bazarr.service=bazarr"
      - "traefik.http.services.bazarr.LoadBalancer.server.Port=6767"
    restart: unless-stopped
  pia-vpn:
    image: itsdaspecialk/pia-openvpn
    container_name: pia-vpn
    devices:
      - "/dev/net/tun"
    volumes:
      - "/home/davidfic/torrent-stack/auth.conf:/pia/auth.conf"
    command:  ["--auth-user-pass", "/pia/auth.conf"]
    cap_add:
      - NET_ADMIN
    dns:
      - 209.222.18.222
      - 209.222.18.218
    environment:
        - PUID=1000
        - PGID=1000
        - TZ=America/New_York
        - REGION=Switzerland
        - UMASK_SET=022
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent`)"
      - "traefik.http.routers.qbittorrent.service=qbittorrent"
      - "traefik.http.services.qbittorrent.LoadBalancer.server.Port=8100"
  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    network_mode: "service:pia-vpn"
    depends_on:
      - pia-vpn
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK_SET=022
      - WEBUI_PORT=8100
    volumes:
      - "/opt/dockerconfigs/qbittorrent/config:/config"
      - "/var/media:/downloads"
    restart: unless-stopped
  tautulli:
    image: linuxserver/tautulli
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /opt/dockerconfigs/tautulli/config:/config
      - /opt/dockerconfigs/tautulli/logs:/logs
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli`)"
      - "traefik.http.routers.tautulli.service=tautulli"
      - "traefik.http.services.tautulli.LoadBalancer.server.Port=8181"
