version: '3'
services:
  traefik:
    image: traefik:v1.7.16
    command:
      - --api
      - --docker
    ports:
      - "80:80"
      - "8089:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
  radarr:
    image: "linuxserver/radarr"
    container_name: "radarr"
    environment:
        - PGID=0
        - PUID=0
        - TZ=America/New_York
    volumes:
        - "/var/radarr/config:/config"
        - "/var/radarr/downloads:/downloads"
        - "/var/media/adult-movies:/movies"
    ports:
      - "7878:7878"
    labels:
      - "traefik.tags=radarr"
      - "traefik.backend=radarr"
      - "traefik.frontend.rule=Host:radarr"
    restart: always
  sonarr:
    image: "linuxserver/sonarr"
    container_name: "sonarr"
    environment: 
       - PGID=0
       - PUID=0
       - TZ=America/New_York
    volumes: 
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/sonarr/config:/config"
      - "/var/sonarr/downloads:/downloads"
      - "/var/media/adult-tv:/tv"
    ports:
      - "8989:8989"
    labels:
      - "traefik.tags=sonarr"
      - "traefik.backend=sonarr"
      - "traefik.frontend.rule=Host:sonarr"
  jackett:
    image: "linuxserver/jackett"
    container_name: "jackett"
    environment:
        - PGID=0
        - PUID=0
        - TZ=America/New_York
    volumes:
        - "/var/jackett/config:/config"
        - "/var/jackett/downloads:/downloads"
    ports:
      - "9117:9117"
    labels:
      - "traefik.tags=jackett"
      - "traefik.backend=jackett"
      - "traefik.frontend.rule=Host:jackett"
    restart: always
